.header {
  min-height: 74px;
  margin-top: 45px;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 126px;
    height: 24px;
  }

  .header {
    margin-top: 28px;
    min-height: 56px;
  }
}
